<div class="thank-container">
    <h1>Thankyou for your valuable feedback</h1>
</div>

<style>
    .thank-container {
        width: 100vw;
        height: 100vh;
        background-color: rgb(156, 170, 156);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-image: url('/images/pat.jpeg');
    }
    h1 {
        color: #F9CC48;
        text-transform: uppercase;
        font-family: 'Bakbak One', cursive; 
    }
</style>